<hibernate-configuration>
   <session-factory>
      <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
      <property name="connection.url">jdbc:sqlserver://FOODSENTOBS\MSSQLSERVER;databaseName=Foobs-Test;integratedSecurity=true;</property>
      <property name="show_sql">true</property>

      <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

      <mapping class="ac.uk.abdn.foobs.db.entity.Address"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.Location"/>

   </session-factory>
</hibernate-configuration>
