<hibernate-configuration>
   <session-factory>
      <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
      <property name="connection.url">
         jdbc:sqlserver://FOODSENTOBS\MSSQLSERVER;databaseName=Foobs-Test-3;integratedSecurity=true;
         </property>
      <property name="show_sql">false</property>
      <property name="current_session_context_class">thread</property>

      <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>

      <mapping class="ac.uk.abdn.foobs.db.entity.AddressEntity"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.AgentEntity"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.GeoPointEntity"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.LocationEntity"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.PremisesEntity"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.RatingEntity"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.PlatformEntity"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.UserAccountEntity"/>
      <mapping class="ac.uk.abdn.foobs.db.entity.PostEntity"/><mapping
         class="ac.uk.abdn.foobs.db.entity.SearchDetailsEntity"/>

   </session-factory>
</hibernate-configuration>
